body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.container {
  background: #62306d;
  position: relative;
  width: 400px;
  height: 300px;
}

.container div {
  width: 100px;
  aspect-ratio: 1;
  position: absolute;
  background: #f7ec7d;
}

.shape-1 {
  border-radius: 0 0 50% 50%;
  left: 42px;
  bottom: 42px;
}

.shape-2 {
  top: 42px;
  left: 142px;
  border-radius: 50% 50% 0 0;
}

.shape-3 {
  border-radius: 0 0 50% 50%;
  right: 42px;
  bottom: 42px;
}
