body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background: #aa9898;
  width: 400px;
  height: 300px;
}

div {
  width: 200px;
  height: 200px;
  background: #b5e0ba;
}
