body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 400px;
  height: 300px;
  position: relative;
  background: #0b2429;
}

.container div {
  width: 120px;
  aspect-ratio: 1;
  position: absolute;
}

.shape-1 {
  background: #f3ac3c;
  left: 72px;
  bottom: 30px;
  border-radius: 50% 0 50% 50%;
}

.shape-2 {
  background: #998235;
  top: 90px;
  left: 130px;
  border-radius: 50% 0 50% 50%;
}

.shape-3 {
  background: #f3ac3c;
  border-radius: 50%;
  right: 90px;
  top: 30px;
}
